.navbar {
  display: flex;
}
.link {
  color: lime;
  text-decoration: none;
  &:not(:last-child) {
    margin-right: 10px;
  }
  &:hover {
    text-decoration: underline;
  }
  &.active {
    text-decoration: underline;
  }
}